*{
	font-family: sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 1.5;
	
}
:root{
	/* var(--darkerColor) var(--lighterColor)*/
	--darkerColor : rgb(15, 66, 66);
	--lighterColor : rgb(14, 90, 84);
	
}
.innercolor{
	background-color: var(--darkerColor);
}
ul,li,a{
	list-style: none;
	text-decoration: none;
}
.electronic{
	display: flex;
	align-items: center;
	justify-content: center;
}
.electronic img{
	width: 100%;
	height: 220px;
	margin-top: 15px;
}
h1,h2{
	margin-bottom: 15px;
}

body{
background: var(--darkerColor);

}
.container{
	max-width: 800px;
	margin:0 auto;
}
.logo{
	font-size: x-large;
	font-weight: bold;
	color: white;
}
nav ul li{
	margin-left: 20px;
}
nav a:hover{
	color: lightblue;
}
nav ul li a{
	color: white;
	font-weight: bold;
	font-size: 18px;
}
nav ul{
	display: flex;
	justify-content: space-between;
	margin-top: 16px;
}
.gpacalc{
	margin-bottom: 30px;
}
#tbl{
	margin-bottom: 30px;
}
.butt{
	display: flex;
	justify-content: space-around;
}
.butt button{
	color: var(--lighterColor);
	background-color: white;
	width: 100px;
	border: none;
}
nav{
	position: fixed;
	width: 100%;
	display: flex;
	align-items: center;
	background: var(--darkerColor);
	
	height: 60px;
}
nav .container{
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
header{
	padding-top: 60px;
	background-color: var(--lighterColor);
	height: 500px;
	
}
header h1,header p{
	color: white;
}
header h1{
	font-size: 3rem;
	font-weight: bold;
	line-height: 1.2;
}
header img{
	max-width: 700px;
}
header .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.boxes .container{
	display: flex;
	justify-content: space-between;

}
.bluee{
	background: var(--lighterColor)
}
.box{
	display: none;
	border: 40px;
	background: var(--lighterColor);
	color: white;
	border-radius: 10px;
	margin: 20px 10px;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.6);
	padding: 14px 20px;
	min-height: 200px;
}
.hangbox{
	height: 600px;
}
.gradee{
        width:75px;
}

.btns{
	margin: 10px;
	display: flex;
	overflow-x:auto;
	
	align-items: center;

}
.btns::-webkit-scrollbar{
	width:0;
}
.btn{
	background-color: var(--lighterColor);
	color: whitesmoke;
	padding:5px;
	margin: 1px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.navbtn{
	background-color: var(--darkerColor);
	font-weight: bold;
}
@media(max-width: 768px){
	header .container{
		flex-direction: column;
		padding-top: 20px;
		text-align: center;
	}
	.boxes .container{
		flex-direction: column;
		text-align: center;

	}
}







// hang man part css

.hangmangame{ 
    font-size: 1.2em;
    font-family: 'Arvo', serif;
    text-align: center;
}

a {
    color: #000;
    margin: 0.2em;
    text-decoration: none;
}

#hangm_gameover, #hangm_victory {
    font-size: 2em;
}

section#hangman {
    height: 20.5em;
    overflow: hidden;
}

#hangm {
    text-align: center;
}

.h {
    opacity: 0;
}

#hangm_animation {
    height: 10em;
    margin: 0 auto;
    width: 11em;
}

#hangm_word, 
#hangm_guesses {
    letter-spacing: 1em;
}

.man_head {
	border-radius: 50%;
	width: 40px;
	height: 40px; 
    background-color: #FFCC99;
    position: relative;
    bottom: 150px;
    left: 112px;
	/* width and height can be anything, as long as they're equal */
}

.man_upper {
    background: #000066;
    width: 40px;
    height: 50px;
    position: relative;
    left: 112px;
    bottom: 150px;
}

.man_lower {
    background: #330099;
    width: 30px;
    height: 30px;
    position: relative;
    left: 117px;
    bottom: 150px;
}

.pole_h {
    background: #000;
    width: 100px;
    height: 8px;
    position: relative;
    left: 46px;
}

.pole_v {
    width: 8px;
    height: 150px;
    background: #000;
    left: 46px;
    position: relative;
}

.pole_b {
    border-color: transparent transparent #000000 transparent;
    border-width: 0 50px 50px 50px;
    border-style: solid;
    width: 0;
    height: 0;
    bottom: 10px;
    position: relative;
}

.rope {
    width: 6px;
    height: 40px;
    background-color: #996633;
    position: relative;
    bottom: 150px;
    left: 130px;
}