*{
	font-family: sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 1.5;
	
}
ul,li,a{
	list-style: none;
	text-decoration: none;
}
img{
	width: 100%;
	height: 220px;
	margin-top: 15px;
}
h1,h2{
	margin-bottom: 15px;
}

body{
background: rgb(15, 66, 66);

}
.container{
	max-width: 800px;
	margin:0 auto;
}
.logo{
	font-size: x-large;
	font-weight: bold;
	color: white;
}
nav ul li{
	margin-left: 20px;
}
nav a:hover{
	color: lightblue;
}
nav ul li a{
	color: white;
	font-weight: bold;
	font-size: 18px;
}
nav ul{
	display: flex;
	justify-content: space-between;
	margin-top: 16px;
}
.gpacalc{
	margin-bottom: 30px;
}
#tbl{
	margin-bottom: 30px;
}
nav{
	display: flex;
	align-items: center;
	background: rgb(15, 66, 66);
	
	height: 60px;
}
nav .container{
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
header{
	background-color: rgb(14, 90, 84);
	height: 450px;
}
header h1,header p{
	color: white;
}
header h1{
	font-size: 3rem;
	font-weight: bold;
	line-height: 1.2;
}
header img{
	max-width: 400px;
}
header .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.boxes .container{
	display: flex;
	justify-content: space-between;

}
.bluee{
	background: rgb(14, 90, 84)
}
.box{
	display: none;
	border: 40px;
	background: rgb(14, 90, 84);
	color: white;
	border-radius: 10px;
	margin: 20px 10px;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.6);
	padding: 14px 20px;
	min-height: 200px;
}
.gradee{
        width:55px;
}

.btns{
	margin: 10px;
	display: flex;
	overflow-x:auto;
	
	align-items: center;

}
.btns::-webkit-scrollbar{
	width:0;
}
.btn{
	background-color: rgb(14, 90, 84);
	color: whitesmoke;
	padding:5px;
	margin: 1px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
@media(max-width: 768px){
	header .container{
		flex-direction: column;
		padding-top: 20px;
		text-align: center;
	}
	.boxes .container{
		flex-direction: column;
		text-align: center;

	}
}
